{% extends 'sedb/assignment_base.html' %}

{% block content %}
{% load staticfiles %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Assignment</h3>
        </div>

        <ul class="list-unstyled components" id="list-nav">
            <li  class="active">
                <a class="side-nav-link" href="#details">Details</a>
            </li>
            <li>
                <a href="#problemSubMenu" data-toggle="collapse" aria-expanded="false">Problems</a>
                <ul class="collapse list-unstyled" id="problemSubMenu">
                    <li id="add-button">
                        <a href="javascript:addNewProblem('{% url 'sedb:get_new_prob_no' sec_user_id assign_id %}')">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add New Problem
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="side-nav-link" href="#submissions" class="submit-form ">Submissions</a>
            </li>
            <li>
                <a class="side-nav-link" href="#marksheet" class="submit-form ">Marksheet</a>
            </li>
            <li>
                <a class="side-nav-link" href="#announcement" class="submit-form ">Announcements</a>
            </li>
        </ul>

    </nav>
</div>

<div id="content" class="container-fluid">
    <div class="panel panel-primary nav-content" id="details">
        <div class="panel-heading">
            <center><h5>Assignment</h5></center>
        </div>
        <div class="panel-body">
            <div id="detailsForm">
                <button type="button" class="edit-btn btn btn-default btn-sm pull-right">
                    <span id="homeEditSave" class="glyphicon glyphicon-pencil"></span>
                </button>

                <div class="container">
                    <form class="form-horizontal" id="form" action="{% url 'sedb:edit_assign_home' sec_user_id assign_id %}" method="post">

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="assign_num">Number:</label>
                            <div class="col-xs-6">
                                <input type="number" min="0" class="form-control" id="assign_num" placeholder="Enter assignment number" name="assign_num" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="title">Title:</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="title" placeholder="Title" name="assign_title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">Visibility:</label>
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input id="visible" type="radio" name="visibility" value="1">Visible
                                </label>
                                <label class="radio-inline">
                                    <input id="hidden" type="radio" name="visibility" value="0" checked>Hidden
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="pub_time">Publish Time:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" id="pub_time" name="pub_time" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="soft_deadline">Soft Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" id="soft_deadline" name="soft_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="hard_deadline">Hard Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" id="hard_deadline" name="hard_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="freeze_deadline">Freezing Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" id="freeze_deadline" name="freeze_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="crib_deadline">Crib Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" id="crib_deadline" name="crib_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="helper_file">Helper File:</label>
                            <div class="col-xs-6">
                                <input type="file" accept=".tar.gz,.zip" class="form-control" id="helper_file" name="helper_file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="description">Description:</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="5" id="description" placeholder="Description" name="description" required></textarea>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="panel panel-primary nav-content content hidden" id="problem-form">
        <div class="panel-heading">
            <center><h5>Problem</h5></center>
        </div>
        <div class="panel-body">
            <div>
                <button type="button" class="edit-btn btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <div class="container">
                    <form class="form-horizontal" action="#" method="post">

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="assign_num">Number:</label>
                            <div class="col-xs-6">
                                <input type="number" min="0" class="form-control" placeholder="Enter assignment number" name="assign_num" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="title">Title:</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" placeholder="Title" name="assign_title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">Visibility:</label>
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input  type="radio" name="visibility" value="1">Visible
                                </label>
                                <label class="radio-inline">
                                    <input  type="radio" name="visibility" value="0" checked>Hidden
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="pub_time">Publish Time:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" name="pub_time" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="soft_deadline">Soft Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" name="soft_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="hard_deadline">Hard Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" name="hard_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="freeze_deadline">Freezing Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control" name="freeze_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="crib_deadline">Crib Deadline:</label>
                            <div class="col-xs-6">
                                <input type="datetime-local" class="form-control"  name="crib_deadline" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="helper_file">Helper File:</label>
                            <div class="col-xs-6">
                                <input type="file" accept=".tar.gz,.zip" class="form-control" name="helper_file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2" for="description">Description:</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="5" placeholder="Description" name="description" required></textarea>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

    <div id="submissions" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Submissions
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>

    <div id="marksheet" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Marksheet
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>

    <div id="announcement" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function loadHome(){
        $.get("{% url 'sedb:get_assign_home' sec_user_id assign_id %}",
        function(data, status){
            if(status == "success"){
                if (!data.new_assign){
                    var obj = data.assign;
                    var deadline = data.deadline;
                    $("#assign_num").val(obj.assignment_no);
                    $("#title").val(obj.title);
                    if(obj.visibility == "1"){
                        $("#visible").attr('checked',true);
                    }
                    else{
                        $("#hidden").attr('checked',true);
                    }
                    $("#pub_time").val(obj.publish_time);
                    $("#soft_deadline").val(deadline.soft_deadline);
                    $("#hard_deadline").val(deadline.hard_deadline);
                    $("#freeze_deadline").val(deadline.freezing_deadline);
                    $("#crib_deadline").val(obj.crib_deadline);
                    $("#description").val(obj.description);
                }
            }
            else{
                console.log("Some Error Occurred");
            }
        });
    }

    $(document).ready(function(){
        $("input").attr('disabled',true);
        $("textarea").attr('disabled',true);
        loadHome();

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    $("#tab-home").click(function(){
        loadHome();
    });

    $(".edit-btn").click(function(){
        var pid = "#"+$(this).parent().attr('id');
        var rval = $(pid+" input").prop('disabled');


        var elem = $(this).find("> span");
        if (elem.hasClass('glyphicon-pencil')){
            elem.removeClass('glyphicon-pencil');
            elem.addClass('glyphicon-ok');

            $(pid+" input").attr('disabled',!rval);
            $(pid+" textarea").attr('disabled',!rval);
        }
        else{
            var frm = $(pid+" form");
            frm.validate();
            if(frm.valid()){
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('Submission was successful.');
                        console.log(data);

                        if(data.to_redirect){
                            window.location.href=data.url;
                        }
                        else{
                            <!--loadHome();-->
                        }
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });

                elem.removeClass('glyphicon-ok');
                elem.addClass('glyphicon-pencil');

                $(pid+" input").attr('disabled',!rval);
                $(pid+" textarea").attr('disabled',!rval);
            }
        }
    });

    $(".side-nav-link").click(function(){
        $("#list-nav .active").toggleClass("active");
        $(this).parent().toggleClass("active");

        var vis = $("#content :visible");
        vis.addClass('hidden');

        var toShowDiv = $(this).attr("href");
        $(toShowDiv).find("*").removeClass('hidden');
        $(toShowDiv).removeClass('hidden');
    });

</script>

{% endblock %}
