{% extends 'sedb/base.html' %}

{% block content %}
<div class="container">
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Delete</th>
          </tr>
        </thead>
          {% for c in courses %}
          <tr data-toggle="collapse" href="#1{{ c.course_id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{c.course_id}}</td>
            <td>{{c.name}}</td>
            <td><span class="delete-course glyphicon glyphicon-minus" id={{c.course_id}}></span></td>
          </tr>
          <tr id="1{{ c.course_id }}" class="collapse">
             <td colspan="4">
                 <div class="table-responsive" >
                     <table class="table">
                         {% for s in c.section %}
                         <tr>
                             <td>{{ forloop.counter }}</td>
                             <td>{{s.sec_name}}</td>
                             <td>{{s.semester}}</td>
                             <td>{{s.year}}</td>
                             <td><span class="delete-section glyphicon glyphicon-trash" id={{ s.sec_id }}></span>
                         </tr>
                         {% endfor %}
                         <tr>
                         <td colspan="4">
                           <form class="form-inline" action="add_section" method="post">{% csrf_token %}
                                   <input name="sec_name" type="text" class="form-control" placeholder="Section Name" required autofocus>
                                   <select class="year" name="year" placeholder="Year"></select>
                                   <select name="semester" placeholder="Semester" required>
                                     <option value="Fall">Fall</option>
                                     <option value="Spring">Spring</option>
                                     <option value="Summer">Summer</option>
                                     <option value="Winter">Winter</option>
                                   </select>
                                   <input type="hidden" name="course_id" value="{{c.course_id}}">
                                   <button class="btn btn-lg btn-primary" type="submit">Add Section</button>
                           </form>
                           </td>
                          </tr>
                     </table>

                 </div>
             </td>
          </tr>
          {% endfor %}
      </table>
    </div>
    <form class="form-inline" action="add_course" method="post">{% csrf_token %}
            <input name="course_id" type="text" class="form-control" placeholder="Course ID" required autofocus>
            <input name="name" type="text" class="form-control" placeholder="Coure Name" required>
            <button class="btn btn-lg btn-primary" type="submit">Add Course</button>
    </form>
    
</div>
{% endblock %}

{% block javascript %}
  <script>
    $(".delete-course").click(function () {
      var course_id = $(this).attr('id');
      $.ajax({
        method: "POST",
        url: '/sedb/delete_course',
        data: {
          'course_id': course_id,
        },
        dataType: 'json',
        success: function (data) {
          if(data.success){
              location.reload();
          }
        }
      });
    });
    $(".delete-section").click(function () {
      var section_id = $(this).attr('id');
      $.ajax({
        method: "POST",
        url: '/sedb/delete_section',
        data: {
          'sec_id': section_id,
        },
        dataType: 'json',
        success: function (data) {
          if(data.success){
              location.reload();
          }
        }
      });
    });
    $(function() {
        var start = 2000;
        var end = new Date().getFullYear()+1;
        var options = "";
        for(var year = start ; year <=end; year++){
          options += "<option>"+ year +"</option>";
        }
        $('.year').html(options);
    });
  </script>
{% endblock %}
