{% extends 'sedb/base.html' %}

{% block content %}
<div class="container">
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Delete</th>
          </tr>
          {% for c in courses %}
          <tr>
            <td>#</td>
            <td>{{c.course_id}}</td>
            <td>{{c.name}}</td>
            <td><button class="btn delete-course" type="submit" value={{c.course_id}}> Delete</button></td>
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
    <form class="form-inline" action="add_course" method="post">{% csrf_token %}
            <input name="course_id" type="text" class="form-control" placeholder="Course ID" required autofocus>
            <input name="name" type="text" class="form-control" placeholder="Coure Name" required>
            <button class="btn btn-lg btn-primary" type="submit">Add Course</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
  <script>
    $('.delete-course').change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });
  </script>
{% endblock %}