{% extends 'sedb/sidenavbar.html' %}

{% block content %}
{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-heading"><center><h5> Assignments </h5></center></div>
    <div class="panel-body">
        <div class="list-group">
            {% if assignments %}
                {% for assign in assignments %}
                    <form action="{% url 'sedb:show_assignment' sec_user_id %}" method="post">{% csrf_token %}
                        <input type="hidden" name="assign_id" value="{{ assign.assignment_id }}">
                        <a href="#" class="submit-form list-group-item">{{ assign.title }}</a>
                    </form>
                {% endfor %}
            {% endif %}



            <a href="{% url 'sedb:add_assignment' sec_user_id  %}" class="submit-form list-group-item">Add Assignment</a>
        </div>
    </div>
</div>
{% endblock %}
