{% extends 'sedb/base1.html' %}

{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="panel panel-primary" style=>
        <div class="panel-heading">
            Instructor
            <h1>{{ section.course.name }}</h1><h2>{{ section.sec_name }}</h2>
        </div>

        <div class="panel-body">
            <form class="col l12" action="add_ta" method="post">{% csrf_token %}
                <div class='row'>
                  <div class='input-field col l6'>
                    <select multiple class="js-example-basic-multiple browser-default" style="width:300px height:50px" name="ta" placeholder = "Select TA" required>
                      {% if user %}
                        {% for u in user %}
                          <option value="{{u.user_id}}">{{u.user_id}} - {{u.name}}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                  <div class='input-field col l3 push-l2'><button class="btn btn-lg btn-primary" type="submit">Add TA</button></div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-heading"><center><h5> Assignments </h5></center></div>
                <div class="panel-body">
                    <div class="list-group">
                        {% if assignments %}
                            {% for assign in assignments %}
                                <form action="{% url 'sedb:show_assignment' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="sec_user_id" value="{{ sec_user_id }}">
                                    <input type="hidden" name="assign_id" value="{{ assign.assignment_id }}">
                                    <a href="#" class="submit-form list-group-item">{{ assign.title }}</a>
                                </form>
                            {% endfor %}
                        {% endif %}



                        <form id="form1" action="{% url 'sedb:add_assignment' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="sec_user_id" value="{{ sec_user_id }}">
                            <a href="#" class="submit-form list-group-item">Add Assignment</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function() {
        // $('select').material_select();
        // $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();
    });

    $('.submit-form').click(function(){
        $(this).parent().submit();
    });

    </script>
{% endblock %}
