{% extends 'sedb/assignment_base.html' %}

{% block content %}
{% load staticfiles %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Assignment</h3>
        </div>

        <ul class="list-unstyled components" id="list-nav">
            <li  class="active">
                <a class="side-nav-link" href="#details">Details</a>
            </li>
            <li>
                <a href="#problemSubMenu" data-toggle="collapse" aria-expanded="false">Problems</a>
                <ul class="collapse list-unstyled" id="problemSubMenu" data-loadUrl="{% url 'sedb:get_assign_all_prob' sec_user_id assign_id %}">
                </ul>
            </li>

            <li>
                <a class="side-nav-link" href="#submissions" class="submit-form ">Submissions</a>
            </li>
            <li>
                <a class="side-nav-link" href="#marksheet" class="submit-form ">Marksheet</a>
            </li>
            <li>
                <a class="side-nav-link" href="#announcement" class="submit-form ">Announcements</a>
            </li>
        </ul>

    </nav>
</div>

<div id="content" class="container-fluid">
    <div class="panel panel-primary nav-content" id="details">
    
        <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Number</td>
                <td id="assign_num"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td id="title"></td>
            </tr>
            <tr>
                <td>Publish Time</td>
                <td id="pub_time"></td>
            </tr>
            <tr>
                <td>Soft Deadline</td>
                <td id="soft_deadline"></td>
            </tr>
            <tr>
                <td>Hard Deadline</td>
                <td id="hard_deadline"></td>
            </tr>
            <tr>
                <td>Freezing Deadline</td>
                <td id="freeze_deadline"></td>
            </tr>
            <tr>
                <td>Crib Deadline</td>
                <td id="crib_deadline"></td>
            </tr>
            <tr>
                <td>Helper File</td>
                <td id="helper_file"><a href="{% url 'sedb:download_helper_file' sec_user_id assign_id %}">Download</a></td>
            </tr>
            <tr>
                <td>Description</td>
                <td id="description"></td>
            </tr>


        </tbody>
        </table>

    </div>

    <div class="hidden" id="problem-form" data-loadUrl="{% url 'sedb:get_assign_prob' sec_user_id assign_id 0 %}">
        <center>
        <div class="title" name="prob_name" style="font-size: 30px">B. Divisibility of Differences</div>
        <br>

        <div class="helper_file" style="font-size: 15px">Helper File : <span name="helper_file" > <a href="{% url 'sedb:download_problem_helper_file' sec_user_id assign_id 0 %}" name="helper_file">Download</a></span></div>

        <div class="solution_file" style="font-size: 15px">Solution File : <span name="solution_file"> <a href="{% url 'sedb:download_problem_solution_file' sec_user_id assign_id 0 %}" name="solution_file">Download</a></span></div>

        <div class="all_testcases" style="font-size: 15px">All Testcases : <span name="all_testcases"> <a href="{% url 'sedb:download_testcase_file' sec_user_id assign_id 0 %}" name="all_testcases">Download</a></span></div>


        <div class="compile_cmd" style="font-size: 15px">Compilation Command : <span name="compile_cmd" ><i> g++ file name</i></span></div>
        <div class="files_to_submit" style="font-size: 15px">Files to Submit : <span name="files_to_submit" ><i> g++ file name</i></span></div>
        
        <div class="cpu_time" style="font-size: 15px">cpu_time : <span name ="cpu_time"></span></div>
        <div class="clock_time" style="font-size: 15px">clock_time : <span name ="clock_time"></span></div>
        <div class="memory_limit" style="font-size: 15px">memory_limit : <span name ="memory_limit"></span></div>
        <div class="stack_limit" style="font-size: 15px">stack_limit : <span name ="stack_limit"></span></div>
        <div class="open_files" style="font-size: 15px">open_files : <span name ="open_files"></span></div>
        <div class="max_filesize" style="font-size: 15px">max_filesize : <span name ="max_filesize"></span></div>
        
        </center>
        <br>
        <div class="description" name="description" style="white-space: pre-wrap;">
        
            You all know that the Library of Bookland is the largest library in the world. There are dozens of thousands of books in the library.

            Some long and uninteresting story was removed...

            The alphabet of Bookland is so large that its letters are denoted by positive integers. Each letter can be small or large, the large version of a letter x is denoted by x'. BSCII encoding, which is used everywhere in Bookland, is made in that way so that large letters are presented in the order of the numbers they are denoted by, and small letters are presented in the order of the numbers they are denoted by, but all large letters are before all small letters. For example, the following conditions hold: 2 < 3, 2' < 3', 3' < 2.

            A word x1, x2, ..., xa is not lexicographically greater than y1, y2, ..., yb if one of the two following conditions holds:

            a ≤ b and x1 = y1, ..., xa = ya, i.e. the first word is the prefix of the second word;
            there is a position 1 ≤ j ≤ min(a, b), such that x1 = y1, ..., xj - 1 = yj - 1 and xj < yj, i.e. at the first position where the words differ the first word has a smaller letter than the second word has.
            For example, the word "3' 7 5" is before the word "2 4' 6" in lexicographical order. It is said that sequence of words is in lexicographical order if each word is not lexicographically greater than the next word in the sequence.

            Denis has a sequence of words consisting of small letters only. He wants to change some letters to large (let's call this process a capitalization) in such a way that the sequence of words is in lexicographical order. However, he soon realized that for some reason he can't change a single letter in a single word. He only can choose a letter and change all of its occurrences in all words to large letters. He can perform this operation any number of times with arbitrary letters of Bookland's alphabet.

            Help Denis to choose which letters he needs to capitalize (make large) in order to make the sequence of words lexicographically ordered, or determine that it is impossible.
        </div>
        <!-- Testcasses Table -->

        <div class="panel panel-primary nav-content" id="details">
        
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Input File </th>
                    <th> Output File </th>
                    <th> Marks </th>
                </tr>
            </thead>
            <tbody name="testcases">
                <tr>
                    
                </tr>
            </tbody>
            </table>

        </div>
    </div>

    <div id="submissions" class="nav-content hidden">
        
    </div>

    <div id="marksheet" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Marksheet
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>

    <div id="announcement" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    function loadHome(){
        $.get("{% url 'sedb:get_assign_home' sec_user_id assign_id %}",
        function(data, status){
            if(status == "success"){
                var obj = data.assign;
                var deadline = data.deadline;
                $("#assign_num").text(obj.assignment_no);
                $("#title").text(obj.title);
                var d = new Date(obj.publish_time)
                $("#pub_time").text(formatDate(obj.publish_time));
                console.log(obj.publish_time);
                $("#soft_deadline").text(formatDate(deadline.soft_deadline));
                $("#hard_deadline").text(formatDate(deadline.hard_deadline));
                $("#freeze_deadline").text(formatDate(deadline.freezing_deadline));
                $("#crib_deadline").text(formatDate(obj.crib_deadline));
                $("#description").text(obj.description);
                loadProblems();
            }
            else{
                console.log("Some Error Occurred");
            }
        });
    }

    function loadProblems(){
        var url = $("#problemSubMenu").attr("data-loadUrl");
        $.get(url,
        function(data, status){
            if(status == "success"){
                $(".problems, .problems-link").remove();
                console.log(data);
                var ps = data.problems
                for(var i in ps){
                    var prob_obj = ps[i].problem;
                    appendProb(prob_obj.problem_id);
                    var prob_id =prob_obj.problem_id;
                    updateProblem(prob_id, prob_obj, ps[i].resource,ps[i].testcases);
                    console.log("#prob"+prob_id)
                    var s = $("#prob"+prob_id).attr('data-loadUrl').replace('0',prob_id);
                    $("#prob"+prob_id).attr('data-loadUrl', s);

                    //new algo of replacing 0
                    x = $("#prob"+prob_id+" a[name=helper_file]").attr('href')
                    s = x.lastIndexOf("0");
                    s = x.substr(0,s)+prob_obj.problem_id+x.substr(s+1,x.length-s-1);
                    $("#prob"+prob_id+" a[name=helper_file]").attr('href',s)

                    x = $("#prob"+prob_id+" a[name=solution_file]").attr('href')
                    s = x.lastIndexOf("0");
                    s = x.substr(0,s)+prob_obj.problem_id+x.substr(s+1,x.length-s-1);
                    $("#prob"+prob_id+" a[name=solution_file]").attr('href',s)

                    x = $("#prob"+prob_id+" a[name=all_testcases]").attr('href')
                    s = x.lastIndexOf("0");
                    s = x.substr(0,s)+prob_obj.problem_id+x.substr(s+1,x.length-s-1);
                    $("#prob"+prob_id+" a[name=all_testcases]").attr('href',s)
                }
            }
            else{
                console.log("Some Error Occurred");
            }
        });
    }

    function reloadProblem(elem){
        var url = elem.attr('data-loadUrl');
        alert(url);
        $.get(url,
        function(data, status){
            if(status == "success"){
                var prob_id = "#prob"+data.problem.problem_id;
                console.log("hi "+data.problem.problem_id)
                updateProblem(data.problem.problem_id, data.problem, data.resource,data.testcases);
            }
            else{
                console.log("Some Error Occurred");
            }
        });
    }


    function appendProb(problem_id){
        $('<li/>').append($('<a/>',{
            id : "link"+problem_id,
            href : "#prob"+problem_id,
            "class" : "side-nav-link problems-link",
            text : "Problem "+problem_id,
            on : {
                click : function(){
                    SideAssignNavClick($(this));
                }
            }
        })).appendTo($("#problemSubMenu"));
        console.log($("#problem-form").attr('data-loadurl'));
        console.log("appending");
        $('<div/>',{
            id: "prob"+problem_id,
            "class" : "hidden",
            html : $("#problem-form").html(),
            "data-loadurl" : $("#problem-form").attr('data-loadurl')
        }).appendTo($("#content"));

    }

    function updateProblem(problem_id, prob_obj, resource_obj,testcases){
        $("#link"+problem_id).text("Problem "+prob_obj.problem_no);
        var prob_id = '#prob' +problem_id;
        console.log(resource_obj);
        $(prob_id+' div[name="prob_name"]').text(prob_obj.problem_no+". "+prob_obj.title);
        $(prob_id+' div[name="description"]').text(prob_obj.description);
        $(prob_id+' span[name="files_to_submit"]').text(prob_obj.files_to_submit);
        $(prob_id+' span[name="compile_cmd"]').text(prob_obj.compile_cmd);
        $(prob_id+ ' span[name="cpu_time"]').text(resource_obj.cpu_time + " seconds");
        $(prob_id+ ' span[name ="clock_time"]').text(resource_obj.clock_time + " seconds");
        $(prob_id+ ' span[name ="memory_limit"]').text(resource_obj.memory_limit + " kB");
        $(prob_id+ ' span[name ="stack_limit"]').text(resource_obj.stack_limit + " kB");
        $(prob_id+ ' span[name ="open_files"]').text(resource_obj.open_files);
        $(prob_id+ ' span[name ="max_filesize"]').text(resource_obj.max_filesize + " kB");
        var link = $("#prob"+problem_id).attr('data-loadUrl');
        console.log(link)
        link = link.replace("get_assign_prob","problem");
        console.log(link)
        s = link.lastIndexOf("0");
        s = link.substr(0,s)+prob_obj.problem_id+link.substr(s+1,link.length-s-1);
        var content = ""
        for(var i in testcases){
            content += "<tr><td>"+testcases[i].num+"</td><td><a href=\""+link+"download_testcase_input_file/"+testcases[i].num+"/\">Input File</a></td><td><a href=\""+link+"download_testcase_output_file/"+testcases[i].num+"/\">Output File</a></td><td>"+testcases[i].marks+"</td></tr>"
        }
        $(prob_id+ ' tbody[name ="testcases"]').html(content);
        // $(prob_id+" input[sol_visibility][value="+prob_obj.sol_visibility+"]").attr('checked',true);
    }

    function formatDate(date){
        var d = new Date(date)
        return d;
    }

    $(document).ready(function(){
        $("input").attr('disabled',true);
        $("textarea").attr('disabled',true);
        loadHome();

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        $(".side-nav-link").click(function(){
            SideAssignNavClick($(this));
        });
    });

    function SideAssignNavClick(elem){
        $("#list-nav .active").toggleClass("active");
        $(this).parent().toggleClass("active");

        var vis = $("#content :visible");
        vis.addClass('hidden');

        var toShowDiv = elem.attr("href");
        console.log(toShowDiv)
        $(toShowDiv).find("*").removeClass('hidden');
        $(toShowDiv).removeClass('hidden');
        if (String(toShowDiv)==("#details")){
            loadHome();
        }
        if (String(toShowDiv).indexOf("#prob")!== -1){
            reloadProblem($(String(toShowDiv)));
        }
    }

    

</script>

{% endblock %}
