{% extends 'sedb/assignment_base.html' %}

{% block content %}
{% load staticfiles %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Assignment</h3>
        </div>

        <ul class="list-unstyled components" id="list-nav">
            <li  class="active">
                <a class="side-nav-link" href="#details">Details</a>
            </li>
            <li>
                <a href="#problemSubMenu" data-toggle="collapse" aria-expanded="false">Problems</a>
                <ul class="collapse list-unstyled" id="problemSubMenu">
                    <li id="add-button">
                        <a href="javascript:addNewProblem('{% url 'sedb:get_new_prob_no' sec_user_id assign_id %}')">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add New Problem
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="side-nav-link" href="#submissions" class="submit-form ">Submissions</a>
            </li>
            <li>
                <a class="side-nav-link" href="#marksheet" class="submit-form ">Marksheet</a>
            </li>
            <li>
                <a class="side-nav-link" href="#announcement" class="submit-form ">Announcements</a>
            </li>
        </ul>

    </nav>
</div>

<div id="content" class="container-fluid">
    <div class="panel panel-primary nav-content" id="problem-form">
    
        <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Number</td>
                <td id="assign_num"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td id="title"></td>
            </tr>
            <tr>
                <td>Publish Time</td>
                <td id="pub_time"></td>
            </tr>
            <tr>
                <td>Soft Deadline</td>
                <td id="soft_deadline"></td>
            </tr>
            <tr>
                <td>Hard Deadline</td>
                <td id="hard_deadline"></td>
            </tr>
            <tr>
                <td>Freezing Deadline</td>
                <td id="freeze_deadline"></td>
            </tr>
            <tr>
                <td>Crib Deadline</td>
                <td id="crib_deadline"></td>
            </tr>
            <tr>
                <td>Helper File</td>
                <td id="helper_file"><a href="{% url 'sedb:download_helper_file' sec_user_id assign_id %}">Download</a></td>
            </tr>
            <tr>
                <td>Description</td>
                <td id="description"></td>
            </tr>


        </tbody>
        </table>

    </div>

    <div class="panel panel-primary nav-content content hidden" id="problem-form">
        <div class="panel-heading">
            <center><h5>Problem</h5></center>
        </div>
        <div class="panel-body">
            dnfdsunfnsf
        </div>
    </div>

    <div id="submissions" class="nav-content hidden">
        <center>
        <div class="title" name="prob_name" style="font-size: 30px">B. Divisibility of Differences</div>
        <br>
        <div class="helper_file" style="font-size: 15px">Helper File : <span name="helper_file" display: inline> <a href="#">Download</a></span></div>
        <div class="solution_file" style="font-size: 15px">Solution File : <span name="solution_file" display: inline> <a href="#">Download</a></span></div>
        <div class="compile_cmd" style="font-size: 15px">Compilation Command : <span name="compile_cmd" display: inline><i> g++ file name</i></span></div>
        <div class="cpu_time" style="font-size: 15px">cpu_time : <span name ="cpu_time"></span></div>
        <div class="clock_time" style="font-size: 15px">clock_time : <span name ="clock_time"></span></div>
        <div class="memory_limit" style="font-size: 15px">memory_limit : <span name ="memory_limit"></span></div>
        <div class="stack_limit" style="font-size: 15px">stack_limit : <span name ="stack_limit"></span></div>
        <div class="open_files" style="font-size: 15px">open_files : <span name ="open_files"></span></div>
        <div class="max_filesize" style="font-size: 15px">max_filesize : <span name ="max_filesize"></span></div>
        
        </center>
        <div class="description" name="description">
        <br>
            You all know that the Library of Bookland is the largest library in the world. There are dozens of thousands of books in the library.

            Some long and uninteresting story was removed...

            The alphabet of Bookland is so large that its letters are denoted by positive integers. Each letter can be small or large, the large version of a letter x is denoted by x'. BSCII encoding, which is used everywhere in Bookland, is made in that way so that large letters are presented in the order of the numbers they are denoted by, and small letters are presented in the order of the numbers they are denoted by, but all large letters are before all small letters. For example, the following conditions hold: 2 < 3, 2' < 3', 3' < 2.

            <br><br>
            A word x1, x2, ..., xa is not lexicographically greater than y1, y2, ..., yb if one of the two following conditions holds:

            a ≤ b and x1 = y1, ..., xa = ya, i.e. the first word is the prefix of the second word;
            there is a position 1 ≤ j ≤ min(a, b), such that x1 = y1, ..., xj - 1 = yj - 1 and xj < yj, i.e. at the first position where the words differ the first word has a smaller letter than the second word has.
            For example, the word "3' 7 5" is before the word "2 4' 6" in lexicographical order. It is said that sequence of words is in lexicographical order if each word is not lexicographically greater than the next word in the sequence.

            Denis has a sequence of words consisting of small letters only. He wants to change some letters to large (let's call this process a capitalization) in such a way that the sequence of words is in lexicographical order. However, he soon realized that for some reason he can't change a single letter in a single word. He only can choose a letter and change all of its occurrences in all words to large letters. He can perform this operation any number of times with arbitrary letters of Bookland's alphabet.

            Help Denis to choose which letters he needs to capitalize (make large) in order to make the sequence of words lexicographically ordered, or determine that it is impossible.
        </div>
    </div>

    <div id="marksheet" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Marksheet
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>

    <div id="announcement" class="nav-content hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Announcements
            </div>
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    function loadHome(){
        $.get("{% url 'sedb:get_assign_home' sec_user_id assign_id %}",
        function(data, status){
            if(status == "success"){
                var obj = data.assign;
                var deadline = data.deadline;
                $("#assign_num").append(obj.assignment_no);
                $("#title").append(obj.title);
                var d = new Date(obj.publish_time)
                $("#pub_time").append(formatDate(obj.publish_time));
                console.log(obj.publish_time);
                $("#soft_deadline").append(formatDate(deadline.soft_deadline));
                $("#hard_deadline").append(formatDate(deadline.hard_deadline));
                $("#freeze_deadline").append(formatDate(deadline.freezing_deadline));
                $("#crib_deadline").append(formatDate(obj.crib_deadline));
                $("#description").append(obj.description);
            }
            else{
                console.log("Some Error Occurred");
            }
        });
    }

    function formatDate(date){
        var d = new Date(date)
        return d;
    }

    $(document).ready(function(){
        $("input").attr('disabled',true);
        $("textarea").attr('disabled',true);
        loadHome();

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    $(".side-nav-link").click(function(){
        $("#list-nav .active").toggleClass("active");
        $(this).parent().toggleClass("active");

        var vis = $("#content :visible");
        vis.addClass('hidden');

        var toShowDiv = $(this).attr("href");
        $(toShowDiv).find("*").removeClass('hidden');
        $(toShowDiv).removeClass('hidden');
    });

</script>

{% endblock %}
