{% extends 'sedb/sidenavbar.html' %}

{% block content %}
{% load staticfiles %}

	            {% if student %}
		            Students
		            <ul>
		            	{% for i in student %}
	                          <li user_id="{{i.user_id}}">{{i.name}}</li>
	                    {% endfor %}
		            </ul>
	            {% endif %}

	            <h3> Add existing user as student</h3>
	            <form class="col l12" action="add_ex_student" method="post">{% csrf_token %}
	            	<input type="hidden" name="sec_user_id" value="{{ sec_user_id }}">
	                <div class='row'>
	                  <div class='input-field col l6'>
	                    <select multiple class="js-example-basic-multiple browser-default" style="width:300px height:50px" name="student" placeholder = "Select Student" required>
	                      {% if user %}
	                        {% for u in user %}
	                          <option value="{{u.user_id}}">{{u.user_id}} - {{u.name}}</option>
	                        {% endfor %}
	                      {% endif %}
	                    </select>
	                  </div>
	                  <div class='input-field col l3 push-l2'><button class="btn btn-lg btn-primary" type="submit">Add Student</button></div>
	                </div>
	            </form>

	            <h3> Add new user as student, mail will be sent</h3>
	            <form class="col l12" action="add_new_student" method="post">{% csrf_token %}
	            	<input type="hidden" name="sec_user_id" value="{{ sec_user_id }}">
	            	<input type="text" name="email" placeholder = "Email" required>
	            	<input type="text" name="name" placeholder = "Name" required>
	            	<button class="btn btn-lg btn-primary" type="submit">Add Student</button>
	            </form>

	            <h3> Add new user as student, mail will be sent</h3>
	            <form class="col l12" action="add_new_student" method="post">{% csrf_token %}
	            	<input type="file" accept=".tar.gz,.zip" class="form-control" id="helper_file" name="helper_file">
	            	<button class="btn btn-lg btn-primary" type="submit">Add Student</button>
	            </form>

{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function() {
        // $('select').material_select();
        // $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();
    });

    </script>
{% endblock %}