{% extends 'sedb/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="list-group">
  {% for s in section %}
  <a href="#" class="sec-select list-group-item list-group-item-action flex-column align-items-start active" id={{s.sec.sec_id}}>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{s.sec.course.name}}</h5>
      <small>{{s.role}}</small><br>
      <large class="mb-1">Section : {{s.sec.sec_name}}</large>
      <large class="mb-1">{{s.sec.semester}}</large>
      <large class="mb-1">{{s.sec.year}}</large>
    </div>
    <small>s.</small>
  </a>
  <form action="display_section" method="post" id="form{{s.sec.sec_id}}">{% csrf_token %}
    <input type="hidden" name="sec_id" value="{{s.id}}">
  </form>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
	<script>
    $( ".sec-select" ).click(function() {
      id = $(this).attr('id');
      $( "#form"+id ).submit();
    });
  </script>

{% endblock %}
